:root {
  --pink-bg: #ffb1af;
  --pink-accent: #ffd1d1;
  --white: #ffffff;
  --yellow-bg: #f9e96e;
}

* {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  transition: all 0.3s ease-in-out;
}

*:focus {
  outline: none;
}

img {
  width: 100%;
  height: auto;
  line-height: 0;
  display: block;
}

a {
  text-decoration-line: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  display: block;
  border: none;
}

body {
  font-family: "Baloo Tammudu 2";
}

.container {
  max-width: 1210px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto !important;
}

.hero {
  position: relative;
  padding: 261px 0 !important;
  background-color: var(--pink-bg);
}

.hero__img {
  position: absolute;
  height: 100%;
  width: auto;
  left: 0;
  top: 0;
}

.hero__text {
  margin-left: auto !important;
  max-width: 680px;
}

.hero__title {
  color: var(--white);
  font-size: 64px;
  font-weight: 800;
  line-height: 1.5;
}

.hero__pink {
  color: var(--pink-accent);
}

.hero__yellow {
  color: var(--yellow-bg);
}

.hero__desc {
  color: var(--white);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.5;
}

.form {
  position: relative;
  padding: 133px 0 !important;
  background-color: var(--yellow-bg);
}

.form__img {
  position: absolute;
  height: 100%;
  width: auto;
  right: 0;
  top: 0;
}

.form__text {
  max-width: 680px;
}

.form__title {
  color: var(--white);
  font-size: 64px;
  font-weight: 800;
  line-height: 1.5;
}

.form__desc {
  color: var(--pink-bg);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 20px !important;
}

.form__input {
  border-radius: 20px;
  background: var(--white);
  width: 100%;
  padding: 8px 20px !important;
  color: var(--pink-bg);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  border: 4px solid var(--white);
  margin-bottom: 12px !important;
}

.form__input:focus {
  border: 4px solid var(--pink-bg);
}

.form__input::placeholder {
  color: var(--pink-accent);
}
.form__input:hover {
  box-shadow: 8px 8px 0px 0px var(--pink-accent);
}

.form__textarea {
  resize: none;
  height: 120px;
  border-radius: 20px;
  background: var(--white);
  width: 100%;
  padding: 8px 20px !important;
  color: var(--pink-bg);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  border: 4px solid var(--white);
  margin-bottom: 20px !important;
}

.form__textarea:focus {
  border: 4px solid var(--pink-bg);
}

.form__textarea::placeholder {
  color: var(--pink-accent);
}

.form__textarea:hover {
  box-shadow: 8px 8px 0px 0px var(--pink-accent);
}
.form__submit {
  color: var(--white);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  padding: 12px 48px !important;
  border-radius: 20px;
  background: var(--pink-bg);
}

.form__submit:hover {
  box-shadow: 8px 8px 0px 0px var(--pink-accent);
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 780px;
  padding: 105px 50px !important;
  background-color: var(--pink-accent);
  border-radius: 20px;
  position: relative;
}

.modal__btn {
  position: absolute;
  right: 36px;
  top: 36px;
  background-color: transparent;
  line-height: 0;
}

.modal__dagger {
  fill: var(--white);
}

.modal__btn:hover .modal__dagger {
  fill: var(--pink-bg);
}

.modal__title {
  color: var(--pink-bg);
  font-size: 64px;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
}

.modal__desc {
  color: var(--white);
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
}
